<!DOCTYPE html>
<html>
<head>
	<html lang="fr">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/styles/CSS/style.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/CSS/menu.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/CSS/body.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/CSS/descr.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/CSS/nouveautés.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/CSS/footer.css">
	<title>Sacherie Capron</title>
</head>
<body>

